  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Extract Bacterial Genomes from Metagenomes</h2>
              <link rel="stylesheet" href="/css/master.css">
              <a href="https://github.com/KwanLab/Autometa" class="btn btn-default btn-lg wow bounceIn" data-wow-delay=".3s">Autometa</a>
              <link rel="stylesheet" href="/css/master.css">
              <a href="https://github.com/WiscEvan/Automappa" class="btn btn-default btn-lg wow bounceIn" data-wow-delay=".3s">Automappa</a>
          </div>
      </div>
  </aside>
