<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Want to use bioinformatics to explore nature?</h2>
                <hr class="light">
                <p class="text-faded">I am fueled by my curiosity for secondary
                  metabolism. My ovearching focus is mining previously
                  uncharacterized biosynthetic gene clusters to access
                  novel therapeutics.
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Expertise</a>
                <a href="img/resume.pdf" class="btn btn-default btn-xl">Resumé</a>
            </div>
        </div>
    </div>
</section>
