<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="https://doi.org/10.1093/nar/gkz148" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Constructing Bioinformatic Tools
                            </div>
                            <div class="project-name">
                                Autometa: Extracting Microbial Genomes from Shotgun Metagenomes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
              <!-- NOTE: Update poster below... -->
                <a href="img/portfolio/C3_2019.pdf" class="portfolio-box">
                    <img src="img/portfolio/1simplex.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Drug Discovery Research
                            </div>
                            <div class="project-name">
                                Identification of the putative bryostatin-like BGC of "Candidatus Endobugula glebosa"
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="https://sites.google.com/wisc.edu/pgsrm-2019/home" class="portfolio-box">
                    <img src="img/portfolio/PGSRM2019Logo.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                2019 Pharmaceutics Graduate Student Research Meeting
                            </div>
                            <div class="project-name">
                                UW-Madison is hosting a conference for pharmaceutics graduate students by pharmaceutics graduate students!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="https://combee-uw-madison.github.io/studyGroup/" class="portfolio-box">
                    <img src="img/portfolio/beeBkgd.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Outreach
                            </div>
                            <div class="project-name">
                                Computational Biology (ComBEE): Python Study Group
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Entrepreneurial Interests
                            </div>
                            <div class="project-name">
                                My interests towards an entrepreneurial path
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
